# Dealing with missing data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'A' : [1.0, 5.0, 10.0],
    'B' : [2.0, 6.0, 11.0],
    'C' : [3.0, np.nan, 12.0],
    'D' : [4.0, 8.0, np.nan]
}

In [4]:
df = pd.DataFrame(data)
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [7]:
## checking missing data
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [9]:
## droping nan
df.dropna(axis = 0)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [11]:
df.loc[3] = np.nan
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  NaN

In [12]:
## drop row that all row contain nan
df.dropna(how = 'all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [21]:
df.dropna(thresh=1)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [22]:
df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

In [23]:
df.dropna(subset=['A'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

# Impute

In [28]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp

SimpleImputer()

In [35]:
re = pd.DataFrame(imp.fit_transform(df), columns = ['A', 'B', 'C', 'D'])
re.round(2)

       A      B     C    D
0   1.00   2.00   3.0  4.0
1   5.00   6.00   7.5  8.0
2  10.00  11.00  12.0  6.0
3   5.33   6.33   7.5  6.0