# Removing features with no variance

In [2]:
from sklearn.feature_selection import VarianceThreshold
import pandas as pd
import numpy as np

In [3]:
data = {
    'rand1' : np.random.random((5, )),
    'const1' : np.ones((5, )),
    'const2' : np.ones((5, )),
    'const3' : np.ones((5, )),
    'rand2' : np.random.random((5, )),
}

In [4]:
df = pd.DataFrame(data)
df

      rand1  const1  const2  const3     rand2
0  0.958163     1.0     1.0     1.0  0.667657
1  0.518304     1.0     1.0     1.0  0.102908
2  0.682076     1.0     1.0     1.0  0.416492
3  0.024099     1.0     1.0     1.0  0.171735
4  0.584443     1.0     1.0     1.0  0.529504

In [5]:
sel = VarianceThreshold(threshold=0)

In [6]:
sel.fit_transform(df)

array([[0.95816335, 0.66765676],
       [0.51830363, 0.10290832],
       [0.68207559, 0.41649221],
       [0.02409882, 0.1717355 ],
       [0.58444337, 0.52950425]])

In [13]:
## result of feature selection
## True == Select
sel.get_support()

array([ True, False, False, False,  True])

In [11]:
cols = df.columns.values
cols

array(['rand1', 'const1', 'const2', 'const3', 'rand2'], dtype=object)

In [12]:
cols[sel.get_support()]

array(['rand1', 'rand2'], dtype=object)

In [15]:
df[cols[sel.get_support()]]

      rand1     rand2
0  0.958163  0.667657
1  0.518304  0.102908
2  0.682076  0.416492
3  0.024099  0.171735
4  0.584443  0.529504

In [18]:
temp = pd.DataFrame(sel.fit_transform(df), columns = df.columns.values[sel.get_support()])
temp

      rand1     rand2
0  0.958163  0.667657
1  0.518304  0.102908
2  0.682076  0.416492
3  0.024099  0.171735
4  0.584443  0.529504